@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

:root {
	--primary: 230, 57, 70;

	font-family: 'Nunito', sans-serif;
	color: rgb(var(--primary));
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
	transition: none 400ms cubic-bezier(0, 0.5, 0, 1);
}

*::selection {
	background-color: rgb(var(--primary));
	color: white;
}

ul,
ol {
	list-style: none;
}

*[contenteditable] {
	outline: 0px solid rgba(var(--primary), 0.25);
	transition: linear 50ms outline-width;
}

*[contenteditable]:focus {
	outline-width: 2px;
}

*.click {
	cursor: pointer;
	transition-property: transform;
}

*.click:hover {
	transform: scale(1.05);
}

*.click:active {
	transform: scale(0.95);
}
